
.color{
  background-color:  #fdf6e4;

  /* background-color:  #f5f8f9; */
/*
  background-color: #f7c23c; */
}

.section_title{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#10351a;

}


.hr {
  border-top: 1px solid #10351a;
  height: 0em;
  text-align: center;
  overflow: visible;
}
.hr::after {
  background-color: #fdf6e4;
  color:#10351a;
  content: "Φ";
  /* content: "\002702"; */
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  top: -1em;
  padding: 0 0.5em;
}


.padding_6{
  padding: 4rem 8%;
}

.padding_top_1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
