
.color{
  color: #afacac;
  background-color: #1a1b1d;
}

.d_flex{
  display: flex;
}

.center{
  font-size: 1.6rem;
  justify-content: space-evenly;
}

.w_480{
  max-width: 480px;
  margin: 0 auto;
}


.j_content{
  justify-content: space-around;
}

.padding_3{
  padding: 3rem;
}

.margin{
  margin-top: 3rem;
  margin-bottom: 1.2rem;
}
