
.color{
  background-color:  #fdf6e4;


}

.section_title{
  font-family: 'Montserrat', sans-serif;
  color:#10351a;
  /* color:#f8fffa; */
  text-align: center;

}


.padding_6{
  padding: 5.2rem 8%;
}
