
.color{
  /* background-color:  #f5f7f8;
  color: #329a5f; */
  background-color:  #fdf6e4;

}

.img_css{
  max-width: 50%;
}

.swiper_box{
  text-align: center;
}

.section_title{
  font-family: 'Montserrat', sans-serif;
  color:#10351a;
}


.d_flex{
  display: flex;
  justify-content: space-around;
}

.padding_6{
  padding: 5rem 8%;
}

@media screen and (max-width:768px){

  .img_css{
    max-width: 120%; /* 画像のレスポンシブ対応 */
  }

}
